*{
    box-sizing: border-box;
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.projects::before{
    content: "";
    background-image: url("https://souravkakkarr.github.io/Srv-Kkr-Front-End-Projects/bg2.jpg");
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
    opacity: 0.75;
}

p{
    color: #ffe0ce;
    margin: 10px;
    padding: 10px;
    background-color: #0000006e;
    font-size: 2.5rem;
    border-radius: 15px;
    font-weight: bolder;
    text-align: center;
}

.projects{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.project-element{
    margin: 5px;
    padding: 8px;
}

.btn{
    font-size: large;
    font-weight: bold;
    background-color: rgba(222, 184, 135, 0.658);
    border-radius: 10px;
    margin: 0px;
    padding: 8px;
}

.btn:hover{
    color: rgb(32, 32, 32);
    background-color: rgba(255, 211, 154, 0.822);
    cursor: pointer;
    box-shadow: 1px 1px black;
    transition: 0.5s;
}
