@media screen and (min-width : 595px) and (max-width : 1070px) {
    BODY{
        background-position: LEFT;
    }
    header::before{
        content: "";
        background-color: #000;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 150px;
        width: 100%;
        z-index: -1;
        opacity: 0.7;
    }
    header{
        flex-wrap: wrap;
    }
    h2{
        text-align: center;
    }
    section{
        margin: 40px 4px;
    }
    .formblock{
        width: 100%;
    }
    .mid{
        flex-wrap: wrap;
    }
}

@media screen and (min-width : 445px) and (max-width : 594px){
    header{
        justify-content: space-around;
        flex-wrap: wrap;
    }
    header::before{
        content: "";
        background-color: #000;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 175px;
        width: 100%;
        z-index: -1;
        opacity: 0.7;
    }
    h2{
        text-align: center;
    }
    .left{
        order : 0;
    }
    .right{
        order: 1;
    }
    .mid{
        order: 2;
        width: 100%;
    }
    section{
        margin: 20px 11px;
    }
    .formblock{
        width: 100%;
    }
}

@media screen and (min-width : 367px) and (max-width : 444px){
    header{
        justify-content: space-around;
        flex-wrap: wrap;
    }
    header::before{
        content: "";
        background-color: #000;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 210px;
        width: 100%;
        z-index: -1;
        opacity: 0.7;
    }
    h2{
        text-align: center;
    }
    .left{
        order : 0;
    }
    .right{
        order: 1;
    }
    .mid{
        order: 2;
        width: 100%;
        flex-wrap: wrap;
    }
    section{
        margin: 20px 11px;
    }
    .formblock{
        width: 100%;
    }
    .footnav{
        flex-wrap: wrap;
    }
}

@media screen and (min-width : 289px) and (max-width : 366px){
    header::before{
        content: "";
        background-color: #000;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 275px;
        width: 100%;
        z-index: -1;
        opacity: 0.7;
    }
    header{
        flex-direction: column;
        justify-content: space-around;
    }
    h2{
        text-align: center;
    }
    .left{
        order : 0;
    }
    .right{
        width: 100%;
        flex-direction: row;
        flex-basis: auto;
        justify-content: space-evenly;
        align-items: center;
        margin: 0px;
        order: 1;
    }
    .right div{
        width :50%;
    }
    .right .btn{
        width: 70%;
    }
    .mid{
        order: 2;
        width: 100%;
        flex-wrap: wrap;
    }
    section{
        margin: 20px 11px;
    }
    .formblock{
        width: 100%;
    }
    .footnav{
        flex-wrap: wrap;
    }
}

@media screen and (min-width : 0px) and (max-width : 288px){
    header::before{
        content: "";
        background-color: #000;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 310px;
        width: 100%;
        z-index: -1;
        opacity: 0.7;
    }
    header{
        flex-direction: column;
        justify-content: space-around;
    }
    h2{
        text-align: center;
    }
    .left{
        order : 0;
    }
    .right{
        width: 100%;
        flex-direction: row;
        flex-basis: auto;
        justify-content: space-evenly;
        align-items: center;
        margin: 0px;
        order: 1;
    }
    .right .btn{
        width: 45%;
    }
    .mid{
        order: 2;
        width: 100%;
        flex-wrap: wrap;
    }
    section{
        margin: 20px 11px;
    }
    .formblock{
        width: 100%;
    }
    .footnav{
        flex-wrap: wrap;
    }
}