*{
    box-sizing: border-box;
    font-family: 'Open Sans', 'Courier New', Courier, monospace;
}

::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(92, 88, 88, 0.76);;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(214, 184, 129);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    transition: 0.5s ;
}

::-webkit-scrollbar-corner{
    visibility: hidden;
}

body{
    background-color: rgb(110, 77, 77);
    background-image: url("https://souravkakkarr.github.io/Srv-Kkr-Front-End-Projects/GymSite/Image/bgabout.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    color: antiquewhite;
}

.header, .left, .mid, .right, .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secondary-heading{
    display: none;
    text-align: center;
}

.header{
    background-color: rgba(0, 0, 0, 0.6);
    margin: auto;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    transition: all 2s ease-out;
}

.left{
    margin: 0px 8px;
    height: 90%;
    padding: 8px;
    flex-direction: column;
    font-size: 1.35rem;
    align-items: center;
}

.left img{
    margin: 5px;
    width: 65px;
    filter: invert(100%);
}

.left h1{
    text-align: center;
    display: inline-block;
    font-size: 1.25rem;
}

a{
    color: aliceblue;
    text-decoration: none;
}

.mid{
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1rem;
    width: 55%;
    height: fit-content;
}

.navimg{
    height: 30px;
    margin: 5px 13px;
}

.mid a{
    padding: 10px;
    text-decoration: none;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navele{
    float: left;
    margin: 0px;
}

.caption{
    position: relative;
    text-align: center;
    font-size: 0.01rem;
    transform-style: preserve-3d;
    transform: rotateX(-180deg);
    transform-origin: top;
    z-index: -1;
    transition: 0.3s;
    backface-visibility: hidden;
}

.wrapper:hover .caption{
    font-size: 1rem;
    transform: rotateX(0deg);
    display: block;
    pointer-events: auto;
}

.wrapper:hover{
    transform: scale(1.05);
    filter: invert(30%);
    transition: 0.5s;  
}

.right{
    flex-basis: 150px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.right div{
    width: 78%;
    text-align: center;
}

.right .btn{
    width: 100%;
    margin: 8px 0px;
    padding: 8px;
    background-color: rgba(31, 29, 29, 0.76);
    color: rgb(214, 197, 174);
    border: 2px solid rgb(17, 16, 17);
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.right .btnimg{
    display: block;
    width: 20%;
}

.right .btn p{
    font-size: 0.7rem;
    display: block;
    margin: 0px;
    padding: 0px;
}

.btn:hover{
    background-color: rgb(80, 74, 74);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(48, 45, 48);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.15);
}

.burger{
    margin: 7px 14px;
    cursor: pointer;
    display: none;
}

.line{
    background-color: white;
    width: 2em;
    height: 0.2em;
    margin: 0.3em 0.2em;
}

.burgermenu{
    display: none;
    transition: all 0.5s ease-out;
}

.v-class-resp {
    opacity: 0;
    transition: all 0.5s ease-out;
}

.options{
    cursor: pointer;
    display: flex;
    align-items: center;
}

.misc{
    margin: 8px 8px;
}

.black{
    filter: invert(100%);
}

footer{
    color: white;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.541);
    border-radius: 11px;
    width: 100%;
}

.footnav{
    position: sticky;
    bottom: 0px;
    right: 0px;
    padding: 3px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footnav span{
    text-align: center;
}

.bottomnavimg:hover{
    transform: scale(1.1);
    filter: invert(50%);
    transition: 0.5s;
}



section{
    margin: 170px 16px 40px 16px;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-areas: 
    'mainhead mainhead mainhead mainhead mainhead'
    'headi headi headi achievement achievement'
    'owner about about achievement achievement'
    'owner about about achievement achievement'
    ;
}
#mainhead{
    border: 2px solid rgba(0, 0, 0, 0.733);
    background-color: rgba(0, 0, 0, 0.541);
    border-radius: 15px;
    text-align: center;
    grid-area: mainhead ;
}
#headi{
    font-size:1.5rem;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.733);
    background-color: rgba(0, 0, 0, 0.541);
    border-radius: 15px;
    grid-area: headi ;
}

#img-own{
    height: fit-content;
    float: left;
    margin: 10px 13px;
}

#about{
    color: #dbccb8;
    padding: 18px 20px;
    border: 2px solid rgba(0, 0, 0, 0.733);
    background-color: rgba(0, 0, 0, 0.658);
    border-radius: 15px;
    grid-area: about ;
}
#achievement{
    padding: 15px;
    border: 2px solid rgba(0, 0, 0, 0.733);
    background-color: rgba(0, 0, 0, 0.541);
    border-radius: 15px;
    grid-area: achievement ;
}
