/* CSS Reset */

*{
    font-family :'Bree Serif','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height : 59px;
}

#navbar{
    font-family: 'baloo bhai 2','Courier New', Courier, monospace;
    font-weight: 900;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: #000;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

#logo{
    margin : 8px 29px;
}

#logo img{
    filter: invert(100%);
    height: var(--navbar-height);
    margin: 3px 6px;
}

#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 0.3rem 1.3rem;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
    border-radius: 1rem;
    transition: 0.25s;
}

#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    padding: 3px 75px;
}

#home::before{
    content: "";
    background-image: url("https://souravkakkarr.github.io/Srv-Kkr-Front-End-Projects/FoodSite/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -2;
    opacity: 0.89;
}

#home p{
    text-align: center;
    color: white;
    font-size: 1.1rem;
}

#home h1{
    color: white;
    text-align: center;
}

/* Utility class */

.h-primary{
    font-size: 2.8rem;
    padding: 12px;
}

.btn{
    font-size: 0.9rem;
    padding: 13px 18px;
    color: white;
    border: 2px solid white;
    background-color: rgba(165, 42, 42, 0.76);
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover{
    background-color: rgba(163, 98, 98, 0.76);
    transition: 0.5s;
    cursor: pointer;
}

.center{
    text-align: center;
}

.h-secondary{
    font-size: 1.8rem;
    padding: 12px;
}

/* Services Section */
#services{
    margin: 32px 36px;
    display: flex;
}

#services .box{
    width: 33%;
    border: 2px solid red;
    padding: 15px 23px;
    margin: 5px 8px;
    border-radius: 13px;
    background-color: rgba(169, 169, 169, 0.192);
}

#services .box img{
    display: block;
    margin: auto;
    width:20%;
}

#client-section{
    height: 38%;
    margin-bottom: 30px;
}

#clients{
    /* border: 2px solid red; */
    height: fit-content;
    display: flex;
    margin: 0px 33px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#client-section::before{
    content: "";
    position: absolute;
    background-image: url("https://souravkakkarr.github.io/Srv-Kkr-Front-End-Projects/FoodSite/bg.jpg");
    width: 100%;
    height: 38%;
    z-index: -1;
    opacity: 0.4;
}

#client-item1 img{
    /* border: 2px solid red; */
    height : 130px;
    margin: 2px;
    display: block;
}

#clients #client-item2 img{
    /* border: 2px solid red; */
    height : 130px;
    margin: 2px;
    display: block;
}

#clients #client-item3 img{
    /* border: 2px solid red; */
    height : 130px;
    margin: 2px;
    display: block;
}

#clients #client-item4 img{
    /* border: 2px solid red; */
    height : 130px;
    margin: 2px;
    display: block;
}

#contact::before{
    content: "";
    background-image: url("https://souravkakkarr.github.io/Srv-Kkr-Front-End-Projects/FoodSite/contact.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
}

form{
    width: 60%;
    margin: auto;
}

.form-group label{
    font-size: 1.1rem;
}

.form-group input, .form-group textarea{
    padding: 5px 12px;
    width: 90%;
    margin: 8px;
    border: 2px black solid;
    border-radius: 7px;
}

form input[type="submit"]{
    width: 50%;
}
form input[type="reset"]{
    width: 30%;
}

form input[type="submit"]:hover, form input[type="reset"]:hover{
    opacity: 1;
    background-color: rgba(163, 98, 98, 0.76);
    transition: 0.5s;
    cursor: pointer;
}

.form-group input:hover, .form-group textarea:hover{
    padding: 5px 12px;
    width: 90%;
    margin: 8px;
    border: 2px rgb(128, 128, 128) solid;
    border-radius: 7px;
    transition: 0.25s;
}

footer{
    color: white;
    background-color: black;
    position: fixed;
    bottom: 0px;
    right:0px;
    width: 100%;
}

::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(92, 88, 88, 0.527);
}

::-webkit-scrollbar-thumb {
    background: rgb(156, 156, 156);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(82, 81, 81);
    transition: 0.5s ;
}

::-webkit-scrollbar-corner{
    visibility: hidden;
}

